.navBar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;
  
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 6%);

  > div {
    max-width: 1280px;
    width: 90vw;

    margin-left: auto;
    margin-right: auto;
  }
}

.logo {
  margin-top: 15px;
}

.detailsMenu {
  display: none;
}

.navMenu {
  float: right;
  margin-top: 20px;
}

.navMenu a {
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Yaldevi";

  display: inline-block;
  width: 80px;

  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: var(--mainPurple);
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: var(--mainPurple);

  border-radius: 50%;
  opacity: 0;

  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(28px);
  transform: translateX(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(178px);
  transform: translateX(178px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4) {
  width: 100px;
  height: 32px;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
}

.detailsMenu {
  width: 100vw;
  margin-top: 0.5rem;

  font-family: "Yaldevi";
  font-size: 35px;
}

.summaryMenu {
  float: right;
  writing-mode: vertical-lr;
  text-align: center;

  padding: 12px 10px;
  margin-right: 1rem;
  color: #7b2cbf;

  cursor: pointer;
  user-select: none;
  transition: transform 200ms ease-in-out 0s;
}
.summaryMenu::after {
  content: "III";
  letter-spacing: -1px;
}
.summaryMenu:hover {
  transform: scale(1.1);
}
.summaryMenu::marker {
  font-size: 0;
}
.detailsMenu[open] .mobileMenu {
  animation-name: menuAnim;
}
.detailsMenu[open] .summaryMenu::before {
  content: "X";
}
.detailsMenu[open] .summaryMenu::after {
  content: "";
}
.mobileMenu {
  position: fixed;
  top: 22px;
  margin-top: 40px;

  width: 100vw;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
  animation: closeMenu 300ms ease-in-out forwards;

  box-shadow: 0 28px 38px 0 rgb(0 0 0 / 21%);
}
.mobileMenu a {
  padding: 12px 24px;
  margin: 0 16px;

  text-decoration: none;
  font-size: 16px;

  transition: filter 200ms linear 0s;
}
.mobileMenu a:nth-of-type(1) {
  padding-top: 24px;
}
.mobileMenu a:hover {
  color: #7b2cbf;
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
    margin-top: 40px;
  }
}

@media (max-width: 1008px) {
  .detailsMenu {
    display: inline;
  }
  .navMenu .dot {
    display: none;
  }
  .navMenu {
    display: none;
  }
  .logo {
    position: absolute;
  }
  .navBar {
    > div {
      max-width: 1144px;
    }
  }
}

@media (max-width: 1400px) {
  .navBar {
    > div {
      max-width: 1144px;
    }
  }
}
